In [2]:
import pandas as pd
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt

In [4]:
team_df = pd.read_csv('raw_data/team.csv')
team_df.set_index('id', inplace=True)
print(team_df.shape)
team_df

(348568, 15)

,matchId,sideId,baronFirst,baronKills,championFirst,championKills,dragonFirst,dragonKills,inhibitorFirst,inhibitorKills,riftHeraldFirst,riftHeraldKills,towerFirst,towerKills,win
id,,,,,,,,,,,,,,,
0,0,100,True,1,False,18,False,0,False,1,True,1,False,6,False
1,0,200,False,0,True,35,True,4,True,2,False,1,True,9,True
2,1,100,True,1,False,48,True,2,True,2,False,1,False,9,True
3,1,200,False,1,True,45,False,2,False,0,True,1,True,5,False
4,2,100,False,0,True,26,False,0,False,0,True,1,True,3,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
348563,174282,200,False,0,False,16,False,0,False,0,False,0,False,3,False
348564,174283,100,False,0,False,6,False,0,False,0,False,0,False,0,False
348565,174283,200,False,0,True,27,True,2,False,0,True,1,True,4,True
348566,174284,100,False,0,True,21,False,1,False,0,False,0,True,2,False
348567,174284,200,True,1,False,31,True,3,True,2,True,2,False,10,True

In [5]:
match_df = pd.read_csv('clean_data/match.csv')
match_df.set_index('id', inplace=True)
print(match_df.shape)
match_df.head()

(174100, 5)

    gameVersion  gameDurationCluster  afkEarlySurrender  tierId  divisionId
id
0         13.19                    1              False       4           4
1         13.19                    2              False       4           4
2         13.13                    1              False       4           4
3         13.13                    2              False       4           4
4         13.19                    1              False       4           4

In [6]:
team_df = team_df[team_df['matchId'].isin(match_df.index.tolist())]
team_df.shape

(348200, 15)

In [7]:
team_df.to_csv('clean_data/team.csv', index=True)