In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('data/clean/participant.csv',sep=',',index_col=0)

In [3]:
df.head()

,matchId,teamId,turn,gameEndedInEarlySurrender,gameEndedInSurrender,lane,role,championId,champExperience,champLevel,...,neutralMinionsKilled,totalMinionsKilled,visionScore,visionWardsBoughtInGame,detectorWardsPlaced,wardsKilled,wardsPlaced,objectivePlaystyle,healPlaystyle,Position
id,,,,,,,,,,,,,,,,,,,,,
0,0,0,1,False,False,JUNGLE,NONE,23,13182,15,...,4,203,10,0,0,0,7,0,4,TOP
1,0,0,2,False,False,JUNGLE,NONE,203,12374,14,...,145,30,13,0,0,4,1,0,3,JUNGLE
2,0,0,3,False,False,MIDDLE,SOLO,90,13929,15,...,4,221,16,0,0,1,8,0,1,MIDDLE
3,0,0,4,False,False,BOTTOM,CARRY,145,9258,12,...,8,151,15,0,0,3,7,2,1,BOTTOM
4,0,0,5,False,False,BOTTOM,SUPPORT,12,8200,11,...,0,33,45,9,6,3,22,2,4,UTILITY

In [5]:
df[df['Position'] == 'Invalid']

,matchId,teamId,turn,gameEndedInEarlySurrender,gameEndedInSurrender,lane,role,championId,champExperience,champLevel,...,neutralMinionsKilled,totalMinionsKilled,visionScore,visionWardsBoughtInGame,detectorWardsPlaced,wardsKilled,wardsPlaced,objectivePlaystyle,healPlaystyle,Position
id,,,,,,,,,,,,,,,,,,,,,
1296,129,259,7,True,False,NONE,SUPPORT,887,0,1,...,0,0,0,0,0,0,0,2,1,Invalid
3025,302,605,6,True,False,NONE,SUPPORT,14,0,1,...,0,0,0,0,0,0,0,2,1,Invalid
3466,346,693,7,True,False,NONE,SUPPORT,233,0,1,...,0,0,0,0,0,0,0,2,1,Invalid
9406,940,1881,7,True,False,NONE,SUPPORT,77,5,1,...,0,0,1,0,0,0,1,2,1,Invalid
13631,1363,2726,2,True,False,NONE,SUPPORT,28,0,1,...,0,0,0,0,0,0,0,2,1,Invalid
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1729096,172910,345819,7,True,False,NONE,SUPPORT,48,0,1,...,0,0,0,0,0,0,0,2,1,Invalid
1731836,173184,346367,7,True,False,NONE,SUPPORT,122,0,1,...,0,0,0,0,0,0,0,2,1,Invalid
1732625,173263,346525,6,True,False,NONE,SUPPORT,157,0,1,...,0,0,0,0,0,0,0,2,1,Invalid
1738388,173839,347677,9,True,False,NONE,SUPPORT,81,0,1,...,0,0,0,0,0,0,0,2,1,Invalid
1742447,174245,348489,8,False,True,NONE,SUPPORT,91,0,1,...,0,0,1,2,2,0,3,2,1,Invalid

In [6]:
# del participant with Position Invalid with his team with same teamId
df.drop(df[df['Position'] == 'Invalid']['matchId'].index,inplace=True)

select columns for model

In [7]:
df = df[['matchId','teamId','championId','Position','turn','gameEndedInSurrender','champExperience','championBan','kills'
         ,'assists','deaths']]

In [8]:
df.head()

,matchId,teamId,championId,Position,turn,gameEndedInSurrender,champExperience,championBan,kills,assists,deaths
id,,,,,,,,,,,
0,0,0,23,TOP,1,False,13182,-1,9,2,2
1,0,0,203,JUNGLE,2,False,12374,30,6,3,10
2,0,0,90,MIDDLE,3,False,13929,107,1,3,6
3,0,0,145,BOTTOM,4,False,9258,24,0,4,8
4,0,0,12,UTILITY,5,False,8200,119,2,9,9

In [9]:
to_dummies = df[['Position','championBan','championId']]
to_dummies.loc[:, 'Position'] = to_dummies['Position'].astype('category')
to_dummies.loc[:, 'championBan'] = to_dummies['championBan'].astype('category')
to_dummies.loc[:, 'championId'] = to_dummies['championId'].astype('category')

In [10]:
to_dummies = pd.get_dummies(to_dummies)
to_dummies

,Position_BOTTOM,Position_JUNGLE,Position_MIDDLE,Position_TOP,Position_UTILITY,championBan_-1,championBan_1,championBan_2,championBan_3,championBan_4,...,championId_711,championId_777,championId_875,championId_876,championId_887,championId_888,championId_895,championId_897,championId_902,championId_950
id,,,,,,,,,,,,,,,,,,,,,
0,False,False,False,True,False,True,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,True,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,True,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,True,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1742835,False,False,False,True,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1742836,False,True,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1742837,False,False,True,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1742838,True,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1742839,False,False,False,False,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [11]:
df = pd.concat([df,to_dummies],axis=1)
df.drop(['Position','championBan','championId'],axis=1,inplace=True)

In [12]:
df.head()

,matchId,teamId,turn,gameEndedInSurrender,champExperience,kills,assists,deaths,Position_BOTTOM,Position_JUNGLE,...,championId_711,championId_777,championId_875,championId_876,championId_887,championId_888,championId_895,championId_897,championId_902,championId_950
id,,,,,,,,,,,,,,,,,,,,,
0,0,0,1,False,13182,9,2,2,False,False,...,False,False,False,False,False,False,False,False,False,False
1,0,0,2,False,12374,6,3,10,False,True,...,False,False,False,False,False,False,False,False,False,False
2,0,0,3,False,13929,1,3,6,False,False,...,False,False,False,False,False,False,False,False,False,False
3,0,0,4,False,9258,0,4,8,True,False,...,False,False,False,False,False,False,False,False,False,False
4,0,0,5,False,8200,2,9,9,False,False,...,False,False,False,False,False,False,False,False,False,False

In [13]:
df.to_csv('data/transform/participant.csv',sep=';')