In [8]:
import pandas as pd

In [9]:
df = pd.read_csv('data/clean/team.csv', index_col=0)

In [10]:
df.head()

,matchId,sideId,baronFirst,baronKills,championFirst,championKills,dragonFirst,dragonKills,inhibitorFirst,inhibitorKills,riftHeraldFirst,riftHeraldKills,towerFirst,towerKills,win
id,,,,,,,,,,,,,,,
0,0,100,True,1,False,18,False,0,False,1,True,1,False,6,False
1,0,200,False,0,True,35,True,4,True,2,False,1,True,9,True
2,1,100,True,1,False,48,True,2,True,2,False,1,False,9,True
3,1,200,False,1,True,45,False,2,False,0,True,1,True,5,False
4,2,100,False,0,True,26,False,0,False,0,True,1,True,3,False

In [11]:
df.drop(columns=['baronFirst', 'dragonFirst', 'inhibitorFirst', 'riftHeraldFirst', 'towerFirst','championFirst'], inplace=True)

In [12]:
df['sideId'].replace({100: 0, 200: 1}, inplace=True)

In [13]:
df

,matchId,sideId,baronKills,championKills,dragonKills,inhibitorKills,riftHeraldKills,towerKills,win
id,,,,,,,,,
0,0,0,1,18,0,1,1,6,False
1,0,1,0,35,4,2,1,9,True
2,1,0,1,48,2,2,1,9,True
3,1,1,1,45,2,0,1,5,False
4,2,0,0,26,0,0,1,3,False
...,...,...,...,...,...,...,...,...,...
348563,174282,1,0,16,0,0,0,3,False
348564,174283,0,0,6,0,0,0,0,False
348565,174283,1,0,27,2,0,1,4,True
348566,174284,0,0,21,1,0,0,2,False
348567,174284,1,1,31,3,2,2,10,True

In [14]:
df['win'].replace({True: 1, False: 0}, inplace=True)

In [16]:
df.to_csv('data/transform/team.csv',sep=';')