In [10]:
import pandas as pd

In [11]:
df_team = pd.read_csv('data/transform/team.csv',sep=';')
df_match = pd.read_csv('data/transform/match.csv',sep=';')
df_participant = pd.read_csv('data/transform/participant.csv',sep=';')

In [12]:
df_team.set_index('id',inplace=True)
df_match.set_index('id',inplace=True)
df_participant.set_index('id',inplace=True)

In [13]:
df_team.head()

,matchId,sideId,baronKills,championKills,dragonKills,inhibitorKills,riftHeraldKills,towerKills,win
id,,,,,,,,,
0,0,0,1,18,0,1,1,6,0
1,0,1,0,35,4,2,1,9,1
2,1,0,1,48,2,2,1,9,1
3,1,1,1,45,2,0,1,5,0
4,2,0,0,26,0,0,1,3,0

In [14]:
df_match.head()

,gameDurationCluster,level,gameVersion_13.16,gameVersion_13.17,gameVersion_13.18,gameVersion_13.19,gameVersion_13.2
id,,,,,,,
0,1,1.9459,False,False,False,True,False
1,2,1.9459,False,False,False,True,False
4,1,1.9459,False,False,False,True,False
6,4,1.9459,False,False,False,True,False
8,1,1.9459,False,False,False,True,False

In [15]:
df_merge_team_match=pd.merge(df_team,df_match,how='inner',left_on='matchId',right_index=True)
df_merge_team_match.head()

,matchId,sideId,baronKills,championKills,dragonKills,inhibitorKills,riftHeraldKills,towerKills,win,gameDurationCluster,level,gameVersion_13.16,gameVersion_13.17,gameVersion_13.18,gameVersion_13.19,gameVersion_13.2
id,,,,,,,,,,,,,,,,
0,0,0,1,18,0,1,1,6,0,1,1.9459,False,False,False,True,False
1,0,1,0,35,4,2,1,9,1,1,1.9459,False,False,False,True,False
2,1,0,1,48,2,2,1,9,1,2,1.9459,False,False,False,True,False
3,1,1,1,45,2,0,1,5,0,2,1.9459,False,False,False,True,False
8,4,0,0,17,2,0,0,2,0,1,1.9459,False,False,False,True,False

In [16]:
df_participant.head(15)

,matchId,teamId,turn,gameEndedInSurrender,champExperience,kills,assists,deaths,Position_BOTTOM,Position_JUNGLE,...,championId_711,championId_777,championId_875,championId_876,championId_887,championId_888,championId_895,championId_897,championId_902,championId_950
id,,,,,,,,,,,,,,,,,,,,,
0,0,0,1,False,13182,9,2,2,False,False,...,False,False,False,False,False,False,False,False,False,False
1,0,0,2,False,12374,6,3,10,False,True,...,False,False,False,False,False,False,False,False,False,False
2,0,0,3,False,13929,1,3,6,False,False,...,False,False,False,False,False,False,False,False,False,False
3,0,0,4,False,9258,0,4,8,True,False,...,False,False,False,False,False,False,False,False,False,False
4,0,0,5,False,8200,2,9,9,False,False,...,False,False,False,False,False,False,False,False,False,False
5,0,1,6,False,9541,1,1,7,False,False,...,False,False,False,False,False,False,False,False,False,False
6,0,1,7,False,13937,15,10,3,False,True,...,False,False,False,False,False,False,False,False,False,False
7,0,1,8,False,12944,5,12,2,False,False,...,False,False,False,False,False,False,False,False,False,False
8,0,1,9,False,12398,11,6,3,True,False,...,False,False,False,False,False,False,False,False,False,False
9,0,1,10,False,9321,2,26,3,False,False,...,False,False,False,False,False,False,False,False,False,False
10,1,2,1,False,17505,6,9,7,False,False,...,False,True,False,False,False,False,False,False,False,False
11,1,2,2,False,16347,8,18,9,False,True,...,False,False,False,False,False,False,False,False,False,False
12,1,2,3,False,17237,4,11,6,False,False,...,False,False,False,False,False,False,False,False,False,False
13,1,2,4,False,15324,20,10,11,True,False,...,False,False,False,False,False,False,False,False,False,False
14,1,2,5,False,12413,10,12,12,False,False,...,False,False,False,False,False,False,False,False,False,False

In [17]:
df_merge_all = pd.merge(df_merge_team_match,df_participant,how='inner',left_index=True,right_on='teamId')
df_merge_all.head(15)

,matchId_x,sideId,baronKills,championKills,dragonKills,inhibitorKills,riftHeraldKills,towerKills,win,gameDurationCluster,...,championId_711,championId_777,championId_875,championId_876,championId_887,championId_888,championId_895,championId_897,championId_902,championId_950
id,,,,,,,,,,,,,,,,,,,,,
0,0,0,1,18,0,1,1,6,0,1,...,False,False,False,False,False,False,False,False,False,False
1,0,0,1,18,0,1,1,6,0,1,...,False,False,False,False,False,False,False,False,False,False
2,0,0,1,18,0,1,1,6,0,1,...,False,False,False,False,False,False,False,False,False,False
3,0,0,1,18,0,1,1,6,0,1,...,False,False,False,False,False,False,False,False,False,False
4,0,0,1,18,0,1,1,6,0,1,...,False,False,False,False,False,False,False,False,False,False
5,0,1,0,35,4,2,1,9,1,1,...,False,False,False,False,False,False,False,False,False,False
6,0,1,0,35,4,2,1,9,1,1,...,False,False,False,False,False,False,False,False,False,False
7,0,1,0,35,4,2,1,9,1,1,...,False,False,False,False,False,False,False,False,False,False
8,0,1,0,35,4,2,1,9,1,1,...,False,False,False,False,False,False,False,False,False,False
9,0,1,0,35,4,2,1,9,1,1,...,False,False,False,False,False,False,False,False,False,False
10,1,0,1,48,2,2,1,9,1,2,...,False,True,False,False,False,False,False,False,False,False
11,1,0,1,48,2,2,1,9,1,2,...,False,False,False,False,False,False,False,False,False,False
12,1,0,1,48,2,2,1,9,1,2,...,False,False,False,False,False,False,False,False,False,False
13,1,0,1,48,2,2,1,9,1,2,...,False,False,False,False,False,False,False,False,False,False
14,1,0,1,48,2,2,1,9,1,2,...,False,False,False,False,False,False,False,False,False,False

In [18]:
df_participant

,matchId,teamId,turn,gameEndedInSurrender,champExperience,kills,assists,deaths,Position_BOTTOM,Position_JUNGLE,...,championId_711,championId_777,championId_875,championId_876,championId_887,championId_888,championId_895,championId_897,championId_902,championId_950
id,,,,,,,,,,,,,,,,,,,,,
0,0,0,1,False,13182,9,2,2,False,False,...,False,False,False,False,False,False,False,False,False,False
1,0,0,2,False,12374,6,3,10,False,True,...,False,False,False,False,False,False,False,False,False,False
2,0,0,3,False,13929,1,3,6,False,False,...,False,False,False,False,False,False,False,False,False,False
3,0,0,4,False,9258,0,4,8,True,False,...,False,False,False,False,False,False,False,False,False,False
4,0,0,5,False,8200,2,9,9,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1742835,174284,348567,6,False,12639,2,4,6,False,False,...,False,False,False,False,False,False,False,False,False,False
1742836,174284,348567,7,False,14069,8,7,5,False,True,...,False,False,False,False,False,False,False,False,False,False
1742837,174284,348567,8,False,15519,10,4,1,False,False,...,False,False,False,False,False,False,False,False,False,False
1742838,174284,348567,9,False,14381,11,5,3,True,False,...,False,False,False,False,False,False,False,False,False,False
1742839,174284,348567,10,False,10741,0,23,6,False,False,...,False,False,False,False,False,False,False,False,False,False

# transform data for model

,matchId,teamId,turn,gameEndedInSurrender,champExperience,kills,assists,deaths,Position_BOTTOM,Position_JUNGLE,...,championId_711,championId_777,championId_875,championId_876,championId_887,championId_888,championId_895,championId_897,championId_902,championId_950
id,,,,,,,,,,,,,,,,,,,,,
0,0,0,1,False,13182,9,2,2,False,False,...,False,False,False,False,False,False,False,False,False,False
1,0,0,2,False,12374,6,3,10,False,True,...,False,False,False,False,False,False,False,False,False,False
2,0,0,3,False,13929,1,3,6,False,False,...,False,False,False,False,False,False,False,False,False,False
3,0,0,4,False,9258,0,4,8,True,False,...,False,False,False,False,False,False,False,False,False,False
4,0,0,5,False,8200,2,9,9,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1742835,174284,348567,6,False,12639,2,4,6,False,False,...,False,False,False,False,False,False,False,False,False,False
1742836,174284,348567,7,False,14069,8,7,5,False,True,...,False,False,False,False,False,False,False,False,False,False
1742837,174284,348567,8,False,15519,10,4,1,False,False,...,False,False,False,False,False,False,False,False,False,False
1742838,174284,348567,9,False,14381,11,5,3,True,False,...,False,False,False,False,False,False,False,False,False,False
1742839,174284,348567,10,False,10741,0,23,6,False,False,...,False,False,False,False,False,False,False,False,False,False

In [ ]:
df_team

In [26]:
matchIds= df_match.index.tolist()

In [ ]:
for i in matchIds:

In [33]:
df_participant.iloc[0].to_frame().T

,matchId,teamId,turn,gameEndedInSurrender,champExperience,kills,assists,deaths,Position_BOTTOM,Position_JUNGLE,...,championId_711,championId_777,championId_875,championId_876,championId_887,championId_888,championId_895,championId_897,championId_902,championId_950
0,0,0,1,False,13182,9,2,2,False,False,...,False,False,False,False,False,False,False,False,False,False

In [ ]:
df_match